.input-wrapper {
  padding: 8px;
  background-color: white;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 4px;
  transition: all ease-in-out 10ms;
  min-width: 200px;
}

.input-wrapper:hover {
  outline: solid #9ccdd9;
  border: 1px solid white;
}

.input-wrapper:focus-within {
  outline: solid #64c7e0;
  border: 1px solid white;
}

input {
  border: none;
  width: 100%;
}

input:focus {
  border: none;
  outline: none;
}

input:focus {
  border: none;
  outline: none;
}
