main {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  height: 0;
}

.container {
  flex-grow: 1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.search-history hr {
  border: 0;
  border-bottom: 1px solid #555;
  box-shadow: none;
  width: 100%;
}

.no-records {
  color: #555;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .search-form p {
    width: 100%;
  }

  .search-form .input-wrapper {
    width: 100%;
  }
}
